<div fxFlexFill fxLayout="row" fxLayoutAlign="center" class="mainContener">
    <div 
        [style.width]="widthSidebar + 'px'"
        mwlResizable
        [enableGhostResize]="true"
        [resizeEdges]="{ bottom: false, right: isOpenSidebar, top: false, left: false }"
        (resizeEnd)="onResizeEnd($event)"
        [validateResize]="validate"
        resizeCursorPrecision="5"
        >
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex *ngIf="isOpenSidebar" fxLayout="column" fxLayoutGap="20px" class="scrollable">
                <!-- TITRE --> 
                <div fxLayout="row" fxLayoutAlign="center">
                    <h1>
                        Paramètres 
                    </h1>
                </div>
                                
                <!--GRANULARITE CARTE -->
                <div fxLayout="column">
                    <div fxLayout="row" fxLayoutAlign="center">
                        <h3>
                            Granularité Carte
                        </h3> 
                    </div>
                    <div class="contentTemplate">
                        <mat-radio-group [(ngModel)]="selectedGranularityMap" (change)="changeGranularity()">
                            <div fxLayout="column" fxLayoutGap="5px">
                                <mat-radio-button *ngFor="let granu of listAllGranularityMap" [value]="granu">
                                    {{granu}}
                                </mat-radio-button>
                            </div>
                        </mat-radio-group>
                    </div>
                </div>

                <mat-divider></mat-divider>

                <!-- CHOIX COURBE -->
                <div fxLayout="column">
                    <div fxLayout="row" fxLayoutAlign="center">
                        <h3>
                            Type de données
                        </h3> 
                    </div>
                    <div class="contentTemplate">
                        <mat-form-field>
                            <mat-select (selectionChange)="updateStyleMap()" [(value)]="selectedTypeGraph">
                              <mat-option *ngFor="let typeGraph of listTypeGraph" [value]="typeGraph">
                                {{typeGraph}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                </div>

                <!--DATE CARTE  -->
                
                <div fxLayout="column">
                    <div fxLayout="row" fxLayoutAlign="center">
                        <h3>
                            Choix Date
                        </h3> 
                    </div>
                    <div class="contentTemplate">
                        <mat-form-field class="dateInput">
                            <input (dateChange)="dateChanged($event.value)"  [value]="selectedDate" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                    </div>
                </div>
                

            </div>
            <div fxLayout="row" fxFlex="30px">
                <div fxFlex fxLayoutAlign="center">
                    <button fxFlex class="buttonSidebarClose icon" mat-button (click)="toggleSidebar()">
                        <mat-icon *ngIf="isOpenSidebar">
                            keyboard_arrow_left
                        </mat-icon>
                        <mat-icon *ngIf="!isOpenSidebar">
                            keyboard_arrow_right
                        </mat-icon>

                    </button>
                </div>
                <div class="dividerSidebar" fxFlex="2px"></div>
               
            </div>
        </div>
    </div>

    <!-- CONTENER MAP -->
    <div fxFlex>
        <!--<div style="height: 100vh;" id="map"></div>-->
        <div class="lastPlan" style="height: 100%;"
            leaflet 
            [leafletOptions]="leafletOptions"
            (leafletMapReady)="onMapReady($event)"
            >
            <div *ngIf="selectedGranularityMap === aliasGranularityMap.PAYS" [leafletLayer]="franceLayer"></div>
            <div *ngIf="selectedGranularityMap === aliasGranularityMap.REGION" [leafletLayer]="regionLayer"></div>
            <div *ngIf="selectedGranularityMap === aliasGranularityMap.DEPARTEMENT" [leafletLayer]="departementLayer"></div>

            
        </div>
    </div>
</div>

<!-- LEGEND HAUT -->
<div class="legendTop">
    <div fxFlex>
        <h1>
            {{selectedGranularityMap}}
        </h1>
        <h2>
            {{onHoverLegendInfos}}
        </h2>
    </div>
       
</div>

    <!-- LEGEND BAS -->
<div class="firstPlan legend">
    <div fxFlex fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-evenly">
        <div fxLayoutGap="5px" fxLayout="column" fxLayoutAlign="center">
            <div  *ngFor="let color of selectedLegendColorGradient" style="background: {{color}}" class="squareLegend"></div>
        </div>
        <div fxLayoutGap="5px" fxLayout="column" fxLayoutAlign="center">
            <div  *ngFor="let info of selectedLegendInfos">{{info}}</div>
        </div>

    </div>
</div>

<!-- FLOATING BUTTON ACTIONS  -->
<!--
<div class="floatingButtonContener">
    <floating-button direction="up" animationMode="fling">
        <floating-button-trigger spin="true">
            <button matTooltipPosition="left" mat-fab matTooltip="Paramètres">
                <mat-icon class="spin360">menu</mat-icon>
            </button>
        </floating-button-trigger>

        <floating-button-action>
            <button matTooltipPosition="left" matTooltip="Ouvrir menu paramètres" mat-mini-fab (click)="toggleSidebar()">
                <mat-icon>build</mat-icon>
            </button>
        </floating-button-action>
    </floating-button>
</div>
-->