<div fxLayout="column" fxLayoutAlign="center" fxFlexFill>

    <!-- PROFIL -->
    <div fxLayout="row" fxLayoutAlign="center" fxFlex>
        <div fxLayout="row" fxLayoutAlign="center" fxFlex fxLayoutGap="20px">
            <div fxFlexAlign="center">
                <img class="imgMoi" src="../../../assets/img/moi.png">
            </div>
            <div fxFlexAlign="center">
                <h1>
                    <span class="upper">B</span>astien <span class="upper">M</span>aurice
                </h1>
                <div>
                    Développeur junior, j’ai un profil spécialisé dans le développement logiciel et les systèmes embarqués. Je m’intéresse depuis peu au domaine de la data science.
                </div>
                <a href="https://deeplylearning.fr" target="_blank">
                    https://deeplylearning.fr
                </a>
            </div>
        </div>

    </div>

    <!-- ALL TECHNO -->
    <div fxLayout="row" fxLayoutAlign="space-evenly" fxFlex>
        <!-- FRAMWORK -->
        <div fxLayout="column">
            <div fxFlexAlign="center">
                <h1>
                    <span class="upper">T</span>echnologies & <span class="upper">F</span>ramework
                </h1>
            </div>

        </div>

        <!-- ALL DATA SOURCE -->
        <div fxLayout="column">
            <div fxFlexAlign="center">
                <h1>
                    <span class="upper">D</span>ata <span class="upper">S</span>ources
                </h1>
            </div>

        </div>
    </div>


</div>