.mainContener {
    background-color: #007acc;
    height: 25px;
    color: white;
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;


}

.icon {
    color: white;
    font-size: 15px;
}

.icon:hover {
    color: #323233;
}

a {
    color: white;
    text-decoration: none; /* no underline */
}

a:hover {
    color: #323233;
}

.navWebsite {
    font-weight: lighter;
}