<div>
    
<div fxLayout="row" fxLayoutAlign="space-between center" fxFlex class="mainContener">
    <div>
        <span>Bastien MAURICE</span>
    </div>
    <div>
        <a href="https://deeplylearning.fr" target="_blank">
            deeplylearning.fr
        </a>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
        <a href="https://twitter.com/Momotoculteur" target="_blank">
            <fa-icon class="icon" [icon]="iconTwitter"></fa-icon>
        </a>
        <a href="https://www.youtube.com/channel/UCLLCNVzeuqaWPTEvOZLKtUw" target="_blank">
            <fa-icon class="icon" [icon]="iconYoutube"></fa-icon>
        </a>
        <a href="https://github.com/Momotoculteur" target="_blank">
            <fa-icon class="icon" [icon]="iconGithub"></fa-icon>
        </a>
        <a href="https://www.linkedin.com/in/bmaurice10/" target="_blank">
            <fa-icon class="icon" [icon]="iconLinkedin"></fa-icon>
        </a>
    </div>
</div>
