<mat-toolbar>
  <div fxLayout="row" fxLayoutAlign="space-between" fxFlex>
    <div fxFlex>
          <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="updateNavInfos(eFooterNav.WELCOME, EHeaderNav.BLANK)" routerLink="/welcome" mat-menu-item fxLayout="row" fxLayoutAlign="start" fxLayoutGap="17px">
          <fa-icon class="icon" [icon]="iconHome"></fa-icon>
          <span>Accueil</span>
        </button>
        <mat-divider></mat-divider>
        <button (click)="updateNavInfos(eFooterNav.FRANCE, EHeaderNav.FRANCE)" routerLink="/france" mat-menu-item fxLayout="row" fxLayoutAlign="start" fxLayoutGap="28px">
          <fa-icon class="icon" [icon]="iconFrance"></fa-icon>
          <span>Données France</span>
        </button>
        <button (click)="updateNavInfos(eFooterNav.GLOBAL, EHeaderNav.MONDE)" routerLink="/global" mat-menu-item fxLayout="row" fxLayoutAlign="start" fxLayoutGap="20px">
          <fa-icon class="icon" [icon]="iconWorld"></fa-icon>
          <span>Données Monde</span>
        </button>
        <mat-divider></mat-divider>
        <button (click)="updateNavInfos(eFooterNav.INFOS, EHeaderNav.BLANK)" routerLink="/infos" mat-menu-item fxLayout="row" fxLayoutAlign="start" fxLayoutGap="25px">
          <fa-icon class="icon" [icon]="iconQuestion"></fa-icon>
          <span>A propos</span>
        </button>

      </mat-menu>

    <span>Covid-19 Data Visualisation</span>
    </div>
    <div fxFlex fxLayoutAlign="center">
      <div fxLayout="column" fxLayoutAlign="center">
        {{detailledMenu}}
      </div>
    </div>
    <div fxFlex>

    </div>
  </div>



</mat-toolbar>